html {
    background-color: #1D2D50;
}

body {
    background-color: inherit;
}

.cell {
    border-radius: 0;
    border-width: 1px;
    border-color: #133B5C;
    border-style: solid;
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    line-height: 0;
    box-sizing: border-box;

    background-color: #1E5F74;
}

.cell:active {
    border-radius: 0;
    border-width: 1px;
    border-color: #1D2D50;
    border-style: solid;
}

#container-all {
    width: auto;
}

#container-controls {
    background-color: #133B5C;
    padding: 0px;
    border-radius: 20px;
    margin: 20px 0 20px 0;

    width: inherit;
}

#container-table {
    background-color: #133B5C;
    padding: 20px;
    border-radius: 20px;
    line-height: 0;
}

.pageTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    color: #FCDAB7;
}

.btn {
    border-radius: 10px;
}