html {
    background-color: #1D2D50;
}

body {
    background-color: inherit;

    animation: fadeInAnimation ease 2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.cell {
    border-radius: 0;
    border-width: 1px;
    border-color: #133B5C;
    border-style: solid;
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    line-height: 0;
    box-sizing: border-box;

    background-color: #1E5F74;
}

.cell:active {
    border-radius: 0;
    border-width: 1px;
    border-color: #1D2D50;
    border-style: solid;
}

#container-all {
    width: auto;
}

#container-controls {
    background-color: #133B5C;
    padding: 0px;
    border-radius: 20px;
    margin: 20px 0 20px 0;

    width: inherit;
}

#container-table {
    background-color: #133B5C;
    padding: 20px;
    border-radius: 20px;
    line-height: 0;
}

.pageTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #FCDAB7;
}

.btn {
    border-radius: 10px;
}

.buttonGroupCustom {
    display: flex;
    align-items: center;
    border: 1px solid #ffc107;
    border-radius: 12px;
    padding-left: 10px;
}

#info {
    margin-right: 100%;
}

.expandSeparator {
    flex-grow: 1;
}

#random {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    margin-left: 10px;
}

#randomizePercentage {
    width: 150px;
}